/* Notes
1. In regards of the margins if we type margin:0px. This means
margin-top: 0px;
margin-left: 0px;
margin-bottom: 0px;
margin-right: 0px;
2.





  */
/* Elements Styling
This means styling for the any element that matches the element Name
in this case any <body> will have a margin of 0px
   */
body {
  margin: 0px;
}

/* Classes Styling   */
.divone {
  background-color: #EEEEEE;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  text-align: center;
}

.top_cloud_1 {
  left: 30%;
  top: 10%;
  display: inline-block;
}

.top_cloud_2 {
  right: 25%;
  top: 10%;
  display: inline-block;
}

.cn_tower {
  margin-left: auto;
  margin-right: auto;
}

.h_one_display {
  font-family: 'Lobster Two', cursive;
  font-size: 3.125rem;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  display: inline-block;
  color: #22577E;
}

.h_two_intro_display {
  margin-top: 0%;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  display: block;
  font-family: 'Lobster Two', cursive;
  font-size: 2.0rem;
  color: #5584AC;
  line-height: 2;
}

.aboutme {
  display: block;
  margin: 0px;
}


.headings {
  font-family: 'Oswald', sans-serif;
  margin-top: 0px;
  margin-left: 15px;
  margin-bottom: 0px;
  margin-right: 0px;
  display: block;
  color: #22577E;
}

.aboutme_content {
  display: inline-block;
  margin: 0px;
}

.paragraphs {
  font-family: 'Oswald', sans-serif;
  margin-top: 0px;
  margin-left: 25px;
  margin-bottom: 0px;
  margin-right: 0px;
  font-size: 1.5rem;
  display: inline-block;
  line-height: 2;
  width: 80%;
}

.mohamd_imad_pic {
  display: inline-block;
  float: right;
  border-radius: 50%;
  width: 250px;
  margin-right: 4%;
}

.hl {
  margin: 0%;
}
