/* Notes
1. In regards of the margins if we type margin:0px. This means
margin-top: 0px;
margin-left: 0px;
margin-bottom: 0px;
margin-right: 0px;
2.





  */
.bodysettings {
  margin: 0px;


}

.divone {
  background-color: #EEEEEE;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  text-align: center;
}

.top_cloud_1 {
  position: absolute;
  left: 400px;
  top: 100px;
}

.top_cloud_2 {
  position: absolute;
  right: 350px;
  top: 100px;
}

.h_one_display {
  font-family: 'Lobster Two', cursive;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

.p_intro_display {
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  font-family: 'Lobster Two', cursive;

}

.aboutme {
display:inline-block;
margin: 0px;
width: 1300px;
height: 100px
background-color: #D8D2CB;



}

.mohamd_imad_pic {
  position: absolute;
  right: 100px;
  top: 590px;
  border-radius: 50%;
  width: 250px;

}

.headings {
font-family: 'Oswald', sans-serif;
margin-top: 0px;
margin-left: 20px;
margin-bottom: 0px;
margin-right: 0px;


}

.paragraphs {
  font-family: 'Oswald', sans-serif;
  margin-top: 0px;
  margin-left: 25px;
  margin-bottom: 0px;
  margin-right: 0px;

}
